*{
	padding: 0;
	margin: 0;
	outline:0;
}
.container{
	height: 100vh;
	width: 100vw;
	text-align:center;
	color:#333;
	background: red;

}
.love,.yes,.sure{padding-top: 15%;
		
		}
.love span{color:black;}
h2{font-size: 72px;margin-bottom: 20px;}
a{font-size: 24px;text-decoration: none;padding: 5px 10px;
	margin-top: 20px;border:3px solid #ddd; border-radius: 10px;}
#sure{color:rgb(0, 4, 255); background: #eee;margin-right: 400px;}
#yes{color:green;background: #eee;}

.yes img{
	height: 400px;px;
	width: 230px;
	animation: image 0s linear infinite;
}
@keyframes image{
	0%{transform: scale(0);}
	50%{transform: scale();}
	100%{transform: scale(2.5);}
}